<div class="address container">
  <div class="title">
    <p>Address</p>
  </div>
  <hr>
  <div *ngIf="innerLoading" class="loader"></div>

  <div *ngIf="!innerLoading">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmitAddressForm()">
      <div class="info">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="country">Ville</label>
              <input type="text" id="country" class="form-control" name="country" formControlName="country"
                [maxlength]="240">
              <span *ngIf="addressForm.get('country').invalid && addressForm.get('country').touched">
                <span *ngIf="addressForm.get('country').errors['required']" class="alert-danger">This field is
                  required!</span>
              </span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="city">Quartier</label>
              <input type="text" id="city" class="form-control" name="city" formControlName="city" [maxlength]="240">
              <span *ngIf="addressForm.get('city').invalid && addressForm.get('city').touched">
                <span *ngIf="addressForm.get('city').errors['required']" class="alert-danger">This field is
                  required!</span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="state">Numero</label>
              <input type="text" id="state" class="form-control" name="state" formControlName="state" [maxlength]="240">
              <span *ngIf="addressForm.get('state').invalid && addressForm.get('state').touched">
                <span class="alert-danger">Please enter a valid state</span>
              </span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="zip">Code Postale</label>
              <input type="text" id="zip" class="form-control" name="zip" formControlName="zip" [maxlength]="6"
                [minlength]="5">
              <span *ngIf="addressForm.get('zip').invalid && addressForm.get('zip').touched" class="alert-danger">
                Saisir un code postale valide!
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="address">Addresse</label>
              <textarea type="text" id="address" class="form-control" name="address" formControlName="address" rows="3">
              </textarea>
            </div>
          </div>
        </div>

      </div>


      <div class="row controls">
        <div class="col-md-12">
          <button class="btn btn-info" type="submit" [disabled]="addressForm.invalid || addressForm.pending">
            Mettre a jour
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
