<div class="bar">
  <div class="row">
    <div class="col-md-3">
      <p class="{{activeStep >= 0 ? 'active': ''}}">Informations Personnelles</p>
    </div>
    <div class="col-md-3">
      <p class="{{activeStep >= 1 ? 'active': ''}}">Livraison</p>
    </div>
    <div class="col-md-3">
      <p class="{{activeStep >= 2 ? 'active': ''}}">Paiement</p>
    </div>
    <div class="col-md-3">
      <p class="{{activeStep >= 3 ? 'active': ''}}">Confirmation</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngb-progressbar type="info" [value]="activeValue" height="5px"></ngb-progressbar>
    </div>
  </div>
</div>
